<h1>Edit an article</h1>
<%= render 'form' %>
<p>
(<%= link_to "All articles", articles_path %> · <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>)
</p>
